.gallery__delete {
  position: absolute;
  right: 20px;
  top: 20px;
  min-width: 18px;
  height: 19px;
  border: 0;
  background: transparent;
  background-image: url("../../../images/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
  visibility: hidden;
}

.gallery__delete:hover {
  opacity: 0.6;
}
