.menu__exit-btn {
  background-color: #000;
  border: 0;
  border-radius: 0;
  color: #A9A9A9;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
  text-align: right;
  padding: 0;
}

.menu__exit-btn:hover {
  opacity: 0.6;
}
