.popup__info-image {
  margin-top: 26px;
  margin-bottom: 32px;
  min-width: 120px;
  height: 120px;
  background-image: url("../../../images/info_error.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
