.profile__image-block {
  margin-right: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url("../../../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

@media screen and (max-width: 767px) {
  .profile__image-block {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
