.auth__input {
  min-width: 358px;
  margin-bottom: 25px;
}

.auth__input:last-of-type {
  margin-bottom: 216px;
}

@media screen and (max-width: 568px) {
  .auth__input {
    min-width: 260px;
  }
  .auth__input:last-of-type {
    margin-bottom: 173px;
  }
}
